# This is the main Jupyter Notebook file for this project

In [ ]:
import seaborn #Seaborn is a Python visualization library based on matplotlib. It provides a high-level 
               #interface for drawing attractive statistical graphics.

In [4]:
import vaderSentiment #“VADER: A Parsimonious Rule-based Model for Sentiment Analysis of Social Media Text.” 
                      #published at ICWSM-14

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import nltk
from nltk.corpus import stopwords

Load in CSV file

In [7]:
csv_reviews = pd.read_csv('/Users/XG/Documents/Yelp_DB/yelp-dataset/yelp_review.csv')

In [8]:
csv_reviews.shape

(5261668, 9)

In [10]:
csv_reviews.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [11]:
csv_reviews.index

RangeIndex(start=0, stop=5261668, step=1)

In [13]:
csv_reviews.describe()

              stars        useful         funny          cool
count  5.261668e+06  5.261668e+06  5.261668e+06  5.261668e+06
mean   3.727739e+00  1.385085e+00  5.091961e-01  5.860917e-01
std    1.433593e+00  4.528727e+00  2.686168e+00  2.233706e+00
min    1.000000e+00 -1.000000e+00  0.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  2.000000e+00  0.000000e+00  1.000000e+00
max    5.000000e+00  3.364000e+03  1.481000e+03  1.105000e+03